
@model SIRHCoreDomain.Conge

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <link href="~/css/pages/wizard/wizard-2.css" rel="stylesheet" type="text/css" />

    <!--end::Page Custom Styles -->





    <div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
        <div class="kt-heading kt-heading--md">
            <center><h1><font color="#273746"> Demande de congé </font></h1> </center>
        </div>
        <div class="kt-portlet">
            <div class="kt-portlet__body kt-portlet__body--fit">
                <div class="kt-grid  kt-wizard-v2 kt-wizard-v2--white" id="kt_wizard_v2" data-ktwizard-state="step-first">
                    <!----div class="kt-grid__item kt-wizard-v2__aside">

                        <!--begin: Form Wizard Nav -->
                        <!--div class="kt-wizard-v2__nav">

                            <!--doc: Remove "kt-wizard-v2__nav-items--clickable" class and also set 'clickableSteps: false' in the JS init to disable manually clicking step titles -->
                            <!----div class="kt-wizard-v2__nav-items kt-wizard-v2__nav-items--clickable">
                                <div class="kt-wizard-v2__nav-item" data-ktwizard-type="step" data-ktwizard-state="current">
                                    <div class="kt-wizard-v2__nav-body">
                                        <div class="kt-wizard-v2__nav-icon">
                                            <i class="fa fa-pen"></i>
                                        </div>
                                        <div class="kt-wizard-v2__nav-label">
                                            <div class="kt-wizard-v2__nav-label-title">
                                                1. Modifier la demande
                                            </div>
                                            <div class="kt-wizard-v2__nav-label-desc">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                              

                            </!--div-->
                        <!----/div>

                        <!--end: Form Wizard Nav -->
                    <!----/-div-->
                    <div class="kt-grid__item kt-grid__item--fluid kt-wizard-v2__wrapper">
                        <!--begin: Form Wizard Form-->
                        <div class="kt-form" id="kt_form">
                            <!----form class="kt-form" action="/Home/InsertUser" id="kt_form"-->
                            <!--begin: Form Wizard Step 1-->
                            <div class="kt-wizard-v2__content" data-ktwizard-type="step-content" data-ktwizard-state="current">
                                <div class="kt-heading kt-heading--md"> Les détails de la demande</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v2__form">
                                        <div class="row">


                                            <div class="col-xl-6">
                                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                                @Html.HiddenFor(model => model.CongeID)

                                                <div class="row">
                                                    <div class="col">
                                                        <label>Date de début <i class="fa fa-calendar"></i> </label>
                                                        @Html.EditorFor(model => model.DateDeb, new { htmlAttributes = new { @class = "form-control", @name = "date_entr", @id = "d_entre", @required = "Date de debut ", @disabled = "disabled" } })


                                                        @Html.ValidationMessageFor(model => model.DateDeb, "", new { @class = "text-danger" })
                                                        @Html.HiddenFor(model => model.DateDeb)
                                                    </div>
                                                    <div class="col">
                                                        <label>Date de fin <i class="fa fa-calendar"></i> </label>
                                                        @Html.EditorFor(model => model.DateFin, new { htmlAttributes = new { @class = "form-control", @name = "date_anc", @id = "d_ancien", @required = "Date de fin", @disabled = "disabled" } })
                                                        @Html.ValidationMessageFor(model => model.DateFin, "", new { @class = "text-danger" })
                                                        @Html.HiddenFor(model => model.DateFin)
                                                    </div>
                                                    <div class="col">
                                                        <label>Durée du congé(en jour) <i class="fa fa-calendar"></i> </label>
                                                        @Html.EditorFor(model => model.Duree, new { htmlAttributes = new { @class = "form-control", @name = "date_anc", @id = "d_ancien", @required = "Date de fin", @disabled = "disabled" } })
                                                        @Html.ValidationMessageFor(model => model.Duree, "", new { @class = "text-danger" })
                                                        @Html.HiddenFor(model => model.Duree) 
                                                    </div>
                                                    <!----input type="date" class="form-control" name="date_entr" id="d_entre" required placeholder="Date de debut "-->
                                                </div>
                                            </div>

                                        </div>
                                        <div><p></p></div>
                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Type de congé:</label>
                                                    @Html.EditorFor(model => model.type, new { htmlAttributes = new { @class = "form-control", @name = "date_anc", @id = "d_ancien", @required = "Date de fin", @disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.type, "", new { @class = "text-danger" })
                                                    @Html.HiddenFor(model => model.type)

                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Votre Commentaire:</label>
                                                    @Html.TextAreaFor(model => model.CommentaireC, 5, 40, new { @class = "form-control", @name = "comm", @id = "comm_col", @required = "Votre commentaire...", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.CommentaireC, "", new { @class = "text-danger" })
                                                    @Html.HiddenFor(model => model.CommentaireC)
                                                    <!----textarea type="" class="form-control" id="comm_col" cols="40" rows="5" name="comm" required placeholder="Votre commentaire..."></!--textarea-->
                                                </div>
                                                <div class="form-group">
                                                    <label> Commentaire de la RH:</label>
                                                    @Html.TextAreaFor(model => model.CommentaireRH, 5, 40, new { @class = "form-control", @name = "comm", @id = "comm_col", @required = "Votre commentaire...", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.CommentaireRH, "", new { @class = "text-danger" })
                                                    @Html.HiddenFor(model => model.CommentaireRH)
                                                    <!----textarea type="" class="form-control" id="comm_col" cols="40" rows="5" name="comm" required placeholder="Votre commentaire..."></!--textarea-->
                                                </div>
                                            </div>

                                        </div>


                                        <div class="row">
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Etat de la demande:</label>
                                                    @Html.DropDownListFor(model => model.Statut, new SelectList(new string[] { "Accepter", "Refuser", "à valider" }, "à valider"), htmlAttributes: new { @class = "form-control", @disabled = "disabled" })
                                                    @Html.ValidationMessageFor(model => model.Statut, "", new { @class = "text-danger" })

                                                </div>
                                            </div>
                                            <div class="col-xl-6">
                                                <div class="form-group">
                                                    <label>Traitée par:</label>
                                                    @Html.EditorFor(model => model.RH, new { htmlAttributes = new { @class = "form-control", @name = "date_anc", @id = "d_ancien", @required = "Date de fin", @disabled = "disabled" } })
                                                    @Html.ValidationMessageFor(model => model.RH, "", new { @class = "text-danger" })
                                                    @Html.HiddenFor(model => model.RH)
                                                    <!----input type="date" class="form-control" name="date_anc" id="d_ancien" required placeholder="Date de fin"-->
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--end: Form Wizard Step 1-->
                            <!--begin: Form Wizard Step 5-->
                            <!--end: Form Wizard Step 5-->
                            <!--begin: Form Wizard Step 6-->
                            <div class="kt-wizard-v2__content" data-ktwizard-type="step-content">
                                <div class="kt-heading kt-heading--md">validation</div>
                                <div class="kt-form__section kt-form__section--first">
                                    <div class="kt-wizard-v2__review">
                                        <div class="kt-wizard-v2__review-item">
                                            <div class="kt-wizard-v2__review-title">
                                                Demande de congé
                                            </div>
                                            <div class="kt-wizard-v2__review-content" id="inf_gen">

                                            </div>
                                        </div>




                                    </div>
                                </div>
                            </div>

                            <!--end: Form Wizard Step 6-->
                            <!--begin: Form Actions -->
                            @using (Html.BeginForm())
                            {
                                <div class="kt-form__actions">



                                    <input type="button" style="margin-left: 810px;" class="btn btn-success btn-md  btn-wide kt-font-bold kt-font-transform-u mb-2" value="Précédent" onclick="location.href='@Url.Action("Index", "Conge" )'" />


                                </div>
                                }
                                <!--end: Form Actions -->
                                <!----/form-->
                            </div>



                        <!--end: Form Wizard Form-->
                    </div>
                </div>
            </div>
        </div>

    </div>
}
<div>
   
    @Html.ActionLink("Back to List", "Index")

</div>


@section scripts{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/pages/custom/wizard/wizard-2.js" type="text/javascript"></script>

    @*<script src="~/js/scripts.bundle.js" type="text/javascript"></script>*@

    <script src="~/js/pages/crud/file-upload/ktavatar.js" type="text/javascript"></script>

    <script>


        $(document).ready(function () {
            select_details();
            select_responsable();
            $(".kt-font-transform-u").click(function () {
                details();
            });

        });

        function select_details() {
            $.ajax({
                url: "/SIRH/Collaborateurs?handler=SelectDepartements",
                type: 'GET',
                dataType: 'json',
                contentType: "application/json",
                success: function (data) {
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        $('#depart').append('<option value="' + data[i].IdDepartement + '">' + data[i].LibelleDepartement + '</option>');
                    }
                    //                    data.forEach(function (element) {
                    //            $("#depart").append("<option>"
                    //+ element.IdDepartement + "</option>");
                    //        });
                },
                //data: JSON.stringify(),
                //            success: function (response) {
                //    var depart = $("#depart");
                //    depart.empty();
                //    $.each(response, function (i, item) {
                //        var $tr = $('<li>').append(item).appendTo(depart);
                //    });
                //},
                //success: function (vResult) {
                //    //Do you just get 4 items here?
                //    alert(vResult)
                //    //if not , please refer to this code as shown below
                //    $.each(vResult, function (i, rows) {
                //        //not need rows.fileDetails!= null){ any more


                //        // then
                //        $('#depart').each(rows.fileDetails, function (j, value) {
                //            alert(value['fileName']);
                //        })

                //    })

                //},
                error: function () {
                    console.log('err')
                }
            });
        }



        function select_responsable() {
            $.ajax({
                type: 'GET',
                url: "/SIRH/Collaborateurs?handler=SelectResponsables",
                contentType: 'application/json',
                dataType: "json",
                success: function (data) {
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        $('#responsble_h').append('<option value="' + data[i].ID_FONCTION + '">' + data[i].NOM + " " + data[i].PRENOM + '</option>');
                    }
                },
                //data: JSON.stringify(data),
                error: function () {
                    console.log('err')
                }
            });
        }

        function details() {
            var civ = $("#d_entre").val();
            var nom = $("#d_ancien").val();
            //var prenom = $("#type option:selected").text();
            var prenom = $("#type").val();
            var matricule = $("#matr_col").val();
            var phone = $("#phone_num").val();
            var departement = $("#comm_col").val();
            var email = $("#mail_col").val();

            $("#inf_gen").html('');
            $("#inf_gen").append("date de début :  " + civ + "<br />" + " date de fin:  " + nom + "<br />" + "type de congé: " + prenom + " <br />" +
                "commentaire : " + departement + "<br />")
            //ETAT CIVIL
            var num_sociale = $("#num_sociale").val();
            var nation = $("#nation option:selected").text();
            var date_naissance = $("#date_naissance").val();
            var pays_naiss = $("#pays_naiss option:selected").text();
            var famille = $("#famille option:selected").text();
            var town = $("#town").val();
            $("#inf_etatcivil").html('');
            $("#inf_etatcivil").append("Numéro sécurité sociale : " + num_sociale + "<br/>" + "Nationalité : " + nation + "<br/>"
                + "Date naissance : " + date_naissance + "<br/>" + "Pays de naissance : " + pays_naiss +
                "<br/>" + "Situation familiale : " + famille + "<br/>" + "Ville de naissance : " + town + "<br/>");
            // Emploi
            var matricule_etat = $("#matricule_etat").val();
            var contrat = $("#contrat").val();
            var d_entre = $("#d_entre").val();
            var d_ancien = $("#d_ancien").val();
            var responsable_hier = $("#responsble_h option:selected").text();
            var renume = $("#renume").val();
            var cons = $("#cons").val();
            var dota = $("#dota").val();
            var d_entretien = $("#d_entretien").val();
            $("#inf_emploi").html('');
            $("#inf_emploi").append("Matricule employé : " + matricule_etat + "<br/>" + "Type de contrat : " + contrat + "<br/>" +
                "date d'entrée : " + d_entre + "<br/>" + "Date d'ancienneté : " + d_ancien + "<br/>" +
                "Responsable Hierarchie : " + responsable_hier + "<br/>" + "Rémunération : " + renume + "<br/>" +
                "Cotisations  : " + cons + "<br/>" + "Dotations  : " + dota + "<br/>" +
                "Date entretien  : " + d_entretien + "<br/>");


        }

    </script>

}
