@page
@model SIRHCoreWeb.Areas.SIRH.Pages.Incidents.DeleteModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--begin::Page Custom Styles(used by this page) -->
<link href="~/css/pages/wizard/wizard-2.css" rel="stylesheet" type="text/css" />

<!--end::Page Custom Styles -->

<div class="kt-container  kt-container--fluid  kt-grid__item kt-grid__item--fluid">
    <div class="kt-heading kt-heading--md">
        <center><h1><font color="#273746">Supprimer votre incident?! </font></h1></center>
    </div>
    <div class="kt-portlet">
        <div class="kt-portlet__body kt-portlet__body--fit">
            <div class="kt-grid  kt-wizard-v2 kt-wizard-v2--white" id="kt
                     _wizard_v2" data-ktwizard-state="step-first">
                <div class="kt-grid__item kt-wizard-v2__aside">
                    <div class="kt-wizard-v2__nav">
                        <div class="kt-wizard-v2__nav-items kt-wizard-v2__nav-items--clickable">
                        </div>
                    </div>

                    <div>
                        <h4></h4>
                        <hr />
                        <h5>Voulez vous vraiment supprimer c?</h5>

                        <div class="col-sm-9 " style="margin-left: 400px; margin-top: 50px;">

                            <dl class="row ">
                                <dt class="col-sm-2">

                                    <label>Id</label>
                                </dt>
                                <dd class="col-sm-10">

                                    @Html.DisplayFor(model => model.Incident.Id )
                                </dd>
                                <dt> class="col-sm-2"
                                    <label>Description</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Incident.Description)
                                </dd>
                                <dt class="col-sm-2">
                                    <label>Date de Création</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Incident.DateCreation)
                                </dd>
                                <dt class="col-sm-2">
                                    <label>Date de réglage</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Incident.DateReglage)
                                </dd>

                                <dt class="col-sm-2">
                                    <label>Créer Par</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Incident.Creepar)
                                </dd>

                                <dt class="col-sm-2">
                                    <label> Modifier Par</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Incident.Modifiepar)
                                </dd>

                                <dt class="col-sm-2">
                                    <label>Collaborateur</label>
                                </dt>
                                <dd class="col-sm-10">
                                    @Html.DisplayFor(model => model.Incident.Attribution)
                                </dd>
                            </dl>
                            @using (Html.BeginForm())
                            {

                                <p>
                                    <div class="kt-form__actions">
                                        <input type="hidden" asp-for="Incident.Id" />
                                        <input type="submit" value="Supprimer" class="btn btn-success btn-md  btn-wide kt-font-bold kt-font-transform-u mb-2" />

                                        <input type="button" style="margin-left: 400px;" class="btn btn-success btn-md  btn-wide kt-font-bold kt-font-transform-u mb-2" value="Précédent" onclick="location.href='@Url.Action("Indexliste", "Incident" )'" />

                                    </div>
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
